// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ans-box {
  border: solid green 5px;
  padding: 20px;
  margin: 30px auto 30px;

  &:hover{ background: #ccffcc; }
}

.list-group-item {
  &:hover{ background: #ccffcc; }
}

.icon {
  text-decoration: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
  font-size: 25px;
  &:hover{ text-decoration: none;}
}
