// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-photo {
  width: 25px;
  margin: -3px 10px 0 -3px;
}

.comments {
  display: none;
  padding: 15px;
  border: solid #66ff66 4px;
  border-radius: 5%;
  &:hover{ background: #ccffcc; }
}
