// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-weight: bold;
  color: #009933;
  margin-top: 20px;
}

h4 {
  font-weight: bold;
  color: #00cc44;
  margin-top: 20px;
  margin-left: 30px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.question-description {
  margin-left: 30px;
}

.list-group {
  border-width: thick;
}

.questions {
  margin-top: 40px;

  .question {
    border: solid #66ff66 4px;
    border-radius: 5%;
    margin: 10px auto 10px;
    padding: 8px;

    &:hover{ background: #ccffcc; }

    .question-title {
      font-size: 27px;
    }

    .question-votes {
      margin-left: 25px;
      display: inline;
      .btn {
        cursor: default;
      }
      .icon {
        margin-left: 25px;
        text-decoration: none;
        border: none;
        background-color: inherit;
        cursor: pointer;
        padding: 0;
        font-size: 25px;
      }
    }

    .question-details {
      display: inline;
      text-align: left;
      position: absolute;
      top: 12%;

      a {
        color: #2eb82e;
        font-weight: bold;
      }
    }

    .question-answers {
      display: inline;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
      .btn {
        cursor: default;
      }
      .icon {
        font-size: 25px;
      }
    }
  }
}

.link-show {
  a {
    color: #2eb82e;
    font-weight: bold;
  }
}
