// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-weight: bold;
  color: #009933;
  margin-top: 20px;
}

h4 {
  font-weight: bold;
  color: #00cc44;
  margin-top: 20px;
  margin-left: 30px;
}

.btn {
  margin-bottom: 20px;
}

.question-description {
  margin-left: 30px;
}
